*{
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica;
}
body{
    margin: 0px;
    margin-top: 50px;

    background-color: lavender;
    
}
.titulo{
    display: block;
    background-color: lightblue;
    height: 50px;
    width:auto;
    width: 100%;
    display:block;
    position: fixed;
    top:0;
    padding:2px;
    border-bottom: black, 4px, solid;
}
h3{

    font-size: 0.9em;
}
#logo{
    height: 35%;
    width:100%;
}
a:link{
    color: black;
    text-decoration: none;
}
a:hover{
    color: rgb(82, 82, 82);
}
a:visited{
    color:black;
}
.BarraNavegacion{
    list-style-type: none;
    margin: 20px;
}
#iniciarsesion{
    background-color: rgba(0, 0, 0, 0);
    border: gray, 1px;
    border-radius: 20px;
}
#iniciarsesion:hover{
    cursor: pointer;
    background-color: rgba(0, 206, 209, 0.397);
}
#iniciarsesion:active{
    background-color: rgba(0, 153, 255, 0.733);
}
.BarraNavegacion .lista{
    font-size: large;
    border-width: auto;
    padding: 12px;
    border-radius: 20px;
    margin: 14px 16px;
    margin-left: 0;
}
.BarraNavegacion .lista:hover{
    background-color: lightblue;
}
.CosoDeAlLado{
    position: fixed;
    width: 15%;
    height:fit-content;
    text-align: center;
    border-right: gray 2px solid;
    height: 100%;
    left: 0;
}
.BarraNavegacion li::marker{
    display: none;
}
.publicaciones{
    float: left;
    display: block;
    height: 100%;
    width: 55%;
    margin-left: 15%;
    padding-inline-start: 10px;
    margin-right: 30px;
    background-color: white;
}
.busqueda{
    position: fixed;
    margin-left: 70%;
    display: block;
    width: 35%;
    height: 100%;
    border-left: solid gray 1px;
    padding:1%;
    background-color: white;
}
#div-inisesion
{
    display:none;
    position: fixed;
    top: 35%;
    left: 35%;
    padding: 40px;
    width: 35%;
    height: 35%;
    background-color: white;
    border: solid 1px gray;

}
#cerrar{
    border-radius: 50px;
}
